USE [OrderProcessingDb]
GO
CREATE TABLE [dbo].[Acompanhamento](
	[id_acompanhamento] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[preco] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Acompanhamento] PRIMARY KEY CLUSTERED 
(
	[id_acompanhamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alteracao_ingrediente_combo]    Script Date: 29/12/2025 19:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alteracao_ingrediente_combo](
	[id_combo] [int] NOT NULL,
	[id_ingrediente] [int] NOT NULL,
	[quantidade] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bebida]    Script Date: 29/12/2025 19:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bebida](
	[id_bebida] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[preco] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Bebida] PRIMARY KEY CLUSTERED 
(
	[id_bebida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 29/12/2025 19:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[id_combo] [int] IDENTITY(1,1) NOT NULL,
	[id_lanche] [int] NULL,
	[id_acompanhamento] [int] NULL,
	[id_bebida] [int] NULL,
	[id_sobremesa] [int] NULL,
 CONSTRAINT [PK_Combo] PRIMARY KEY CLUSTERED 
(
	[id_combo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo_pedido]    Script Date: 29/12/2025 19:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo_pedido](
	[id_combo] [int] NOT NULL,
	[id_pedido] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingrediente]    Script Date: 29/12/2025 19:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingrediente](
	[id_ingrediente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[preco_adicional] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Ingrediente] PRIMARY KEY CLUSTERED 
(
	[id_ingrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredientes_lanche]    Script Date: 29/12/2025 19:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes_lanche](
	[id_lanche] [int] NOT NULL,
	[id_ingrediente] [int] NOT NULL,
	[quantidade] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lanche]    Script Date: 29/12/2025 19:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lanche](
	[id_lanche] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[preco] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Lanche] PRIMARY KEY CLUSTERED 
(
	[id_lanche] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sobremesa]    Script Date: 29/12/2025 19:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sobremesa](
	[id_sobremesa] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[preco] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Sobremesa] PRIMARY KEY CLUSTERED 
(
	[id_sobremesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ingredientes_lanche]    Script Date: 29/12/2025 19:24:40 ******/
CREATE NONCLUSTERED INDEX [IX_Ingredientes_lanche] ON [dbo].[Ingredientes_lanche]
(
	[id_lanche] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alteracao_ingrediente_combo]  WITH CHECK ADD  CONSTRAINT [FK_Alteracao_ingrediente_combo_Combo] FOREIGN KEY([id_combo])
REFERENCES [dbo].[Combo] ([id_combo])
GO
ALTER TABLE [dbo].[Alteracao_ingrediente_combo] CHECK CONSTRAINT [FK_Alteracao_ingrediente_combo_Combo]
GO
ALTER TABLE [dbo].[Alteracao_ingrediente_combo]  WITH CHECK ADD  CONSTRAINT [FK_Alteracao_ingrediente_combo_Ingrediente] FOREIGN KEY([id_ingrediente])
REFERENCES [dbo].[Ingrediente] ([id_ingrediente])
GO
ALTER TABLE [dbo].[Alteracao_ingrediente_combo] CHECK CONSTRAINT [FK_Alteracao_ingrediente_combo_Ingrediente]
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD  CONSTRAINT [FK_Combo_Acompanhamento] FOREIGN KEY([id_acompanhamento])
REFERENCES [dbo].[Acompanhamento] ([id_acompanhamento])
GO
ALTER TABLE [dbo].[Combo] CHECK CONSTRAINT [FK_Combo_Acompanhamento]
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD  CONSTRAINT [FK_Combo_Bebida] FOREIGN KEY([id_bebida])
REFERENCES [dbo].[Bebida] ([id_bebida])
GO
ALTER TABLE [dbo].[Combo] CHECK CONSTRAINT [FK_Combo_Bebida]
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD  CONSTRAINT [FK_Combo_Lanche] FOREIGN KEY([id_lanche])
REFERENCES [dbo].[Lanche] ([id_lanche])
GO
ALTER TABLE [dbo].[Combo] CHECK CONSTRAINT [FK_Combo_Lanche]
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD  CONSTRAINT [FK_Combo_Sobremesa] FOREIGN KEY([id_sobremesa])
REFERENCES [dbo].[Sobremesa] ([id_sobremesa])
GO
ALTER TABLE [dbo].[Combo] CHECK CONSTRAINT [FK_Combo_Sobremesa]
GO
ALTER TABLE [dbo].[Combo_pedido]  WITH CHECK ADD  CONSTRAINT [FK_Combo_pedido_Combo] FOREIGN KEY([id_combo])
REFERENCES [dbo].[Combo] ([id_combo])
GO
ALTER TABLE [dbo].[Combo_pedido] CHECK CONSTRAINT [FK_Combo_pedido_Combo]
GO
ALTER TABLE [dbo].[Ingredientes_lanche]  WITH CHECK ADD  CONSTRAINT [FK_Ingredientes_lanche_Ingrediente] FOREIGN KEY([id_ingrediente])
REFERENCES [dbo].[Ingrediente] ([id_ingrediente])
GO
ALTER TABLE [dbo].[Ingredientes_lanche] CHECK CONSTRAINT [FK_Ingredientes_lanche_Ingrediente]
GO
ALTER TABLE [dbo].[Ingredientes_lanche]  WITH CHECK ADD  CONSTRAINT [FK_Ingredientes_lanche_Lanche] FOREIGN KEY([id_lanche])
REFERENCES [dbo].[Lanche] ([id_lanche])
GO
ALTER TABLE [dbo].[Ingredientes_lanche] CHECK CONSTRAINT [FK_Ingredientes_lanche_Lanche]
GO
SET IDENTITY_INSERT [dbo].[Lanche] ON 
INSERT [dbo].[Lanche] ([id_lanche], [nome], [preco]) VALUES (1, N'X-Burguer Clássico', CAST(15.99 AS Decimal(10, 2)))
INSERT [dbo].[Lanche] ([id_lanche], [nome], [preco]) VALUES (2, N'X-Bacon Turbinado', CAST(22.50 AS Decimal(10, 2)))
INSERT [dbo].[Lanche] ([id_lanche], [nome], [preco]) VALUES (3, N'Vegetariano Especial', CAST(18.75 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Lanche] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingrediente] ON 

INSERT [dbo].[Ingrediente] ([id_ingrediente], [nome], [preco_adicional]) VALUES (1, N'Pão com gergelim', NULL)
INSERT [dbo].[Ingrediente] ([id_ingrediente], [nome], [preco_adicional]) VALUES (2, N'Pão brioche', NULL)
INSERT [dbo].[Ingrediente] ([id_ingrediente], [nome], [preco_adicional]) VALUES (3, N'Pão australiano', NULL)
SET IDENTITY_INSERT [dbo].[Ingrediente] OFF
GO
INSERT [dbo].[Ingredientes_lanche] ([id_lanche], [id_ingrediente], [quantidade]) VALUES (1, 1, 1)
INSERT [dbo].[Ingredientes_lanche] ([id_lanche], [id_ingrediente], [quantidade]) VALUES (1, 4, 1)
INSERT [dbo].[Ingredientes_lanche] ([id_lanche], [id_ingrediente], [quantidade]) VALUES (1, 7, 1)
GO
SET IDENTITY_INSERT [dbo].[Acompanhamento] ON 

INSERT [dbo].[Acompanhamento] ([id_acompanhamento], [nome], [preco]) VALUES (1, N'Batata frita pequena', CAST(5.50 AS Decimal(10, 2)))
INSERT [dbo].[Acompanhamento] ([id_acompanhamento], [nome], [preco]) VALUES (2, N'Batata frita média', CAST(7.00 AS Decimal(10, 2)))
INSERT [dbo].[Acompanhamento] ([id_acompanhamento], [nome], [preco]) VALUES (3, N'Batata frita grande', CAST(8.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Acompanhamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Bebida] ON 

INSERT [dbo].[Bebida] ([id_bebida], [nome], [preco]) VALUES (1, N'Água mineral 510ml', CAST(4.00 AS Decimal(10, 2)))
INSERT [dbo].[Bebida] ([id_bebida], [nome], [preco]) VALUES (2, N'Coca-cola lata 350ml', CAST(7.00 AS Decimal(10, 2)))
INSERT [dbo].[Bebida] ([id_bebida], [nome], [preco]) VALUES (3, N'Fanta laranja lata 350ml', CAST(6.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Bebida] OFF
GO
SET IDENTITY_INSERT [dbo].[Sobremesa] ON 

INSERT [dbo].[Sobremesa] ([id_sobremesa], [nome], [preco]) VALUES (1, N'Casquinha de baunilha', CAST(3.00 AS Decimal(10, 2)))
INSERT [dbo].[Sobremesa] ([id_sobremesa], [nome], [preco]) VALUES (2, N'Casquinha mista', CAST(3.50 AS Decimal(10, 2)))
INSERT [dbo].[Sobremesa] ([id_sobremesa], [nome], [preco]) VALUES (3, N'Sundae de chocolate', CAST(6.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Sobremesa] OFF
GO
